.Rhistory
*.pickle
*.json
*.pck
.idea/
__pycache__/
!*.csv
!*.html
!*.zip
!*.fa


additional_software/usearch/
additional_software/fess/
additional_software/espritz/
additional_software/tmhmm-2.0c.Linux/


